a {
  text-decoration: none;
  display: block;
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 16px;
  color: white;
}

a:hover {
  color: red;
}

.sidenav {
  height: 100%;
  width: 160px;
  padding-top: 20px;
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  margin-left: 160px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  height: 2000px;
}
